@import "./pokeballs/-main.css";
@import "./pokeballs/-event.css";
@import "./pokeballs/pokeball.css";
@import "./pokeballs/greatball.css";
@import "./pokeballs/ultraball.css";
@import "./pokeballs/masterball.css";
@import "./pokeballs/premier-ball.css";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #6CB3A9;

  /* Remove this */
  margin-top: 80px;
}