@import "./pokeballs/-main.css";
@import "./pokeballs/-event.css";
@import "./pokeballs/-loading.css";
@import "./pokeballs/pokeball.css";
@import "./pokeballs/greatball.css";
@import "./pokeballs/ultraball.css";
@import "./pokeballs/masterball.css";
@import "./pokeballs/premier-ball.css";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #6CB3A9;
}

.opening::before {
  content: "";
  width: 100vw;
  height: 50vh;
  position: fixed;
  background-color: #f3143d;
  border-bottom: 5px solid black;
  z-index: 5;
  animation: intro-background 1s forwards 4s;
}

.opening::after {
  content: "";
  width: 100vw;
  height: 50vh;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: 5px solid black;
  z-index: 5;
  animation: intro-background 1s forwards 4s;
}

@keyframes intro-background {
  100% {
    height: 0vh;
    visibility: hidden;
  }
}