.pokeball-loading {
  --size: 60px;
  --color: white;
  --border-color: #030303;

  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  background-color: var(--color);
  border: 10px solid var(--border-color);
  border-radius: 50%;
  margin: auto;
  z-index: 6;
  animation: intro-pokeball 4s forwards;
}

.pokeball-loading::before {
  --color: #030303;
  --size: 150px;
  
  content: "";
  width: calc(100% + var(--size));
  height: 15px;
  position: absolute;
  top: 0;
  left: calc(-1 * var(--size) / 2);
  bottom: 0;
  background-color: var(--color);
  margin: auto;
  z-index: -1;
}
  
.pokeball-loading::after {
  --color: #FFFFFF;
  --size: 190px;
  
  content: "";
  width: var(--size);
  height: calc(var(--size) / 2);
  position: absolute;
  top: 25px;
  left: -75px;
  background-color: var(--color);
  border-radius: 150px 150px 0 0;
  transform: rotate(180deg);
  z-index: -1;
}

@keyframes intro-pokeball {
  35% {
    transform: rotate(360deg);
  }

  70% {
    transform: rotate(720deg);
  }

  80% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.5);
  }

  95% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}