.masterball {
  --color: #8A2Be2;
  --size: 190px;
  
  width: var(--size);
  height: calc(var(--size) / 2);
  position: absolute;
  top: -80px;
  left: -75px;
  background-color: var(--color);
  border-radius: 150px 150px 0 0;
  z-index: -1;
}

.masterball::before {
  content: "M";
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 50px;
  margin: auto;
  text-align: center;
}