.pokeball {
  --color: #D25B70;
  --size: 190px;
  
  width: var(--size);
  height: calc(var(--size) / 2);
  position: absolute;
  top: -80px;
  left: -75px;
  background-color: var(--color);
  border-radius: 150px 150px 0 0;
}
